@mixin jiequ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@function ptr($px) {
    @return to-fixed(($px / 75), 2) + rem;
}

@function to-fixed ($number, $digits: 0) {
    $n: 1;
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @return floor($number * $n) / $n;
}
.fronttree,
.frontseven {
    width: 100%;
    margin-top: ptr(10);
    margin-bottom: ptr(30);
    position: relative;
    overflow-x: hidden;
}

.ranknum,
.ranknumseven {
    width: ptr(58);
    height: ptr(58);
    position: relative;
    margin-top: 0.25rem;
    background: url(../img/rankstar.png) no-repeat;
    background-size: 100%;
    float: left;
    color: #d96c00;
    font-size: ptr(30);
    text-align: center;
    line-height: ptr(58);
}

.ranknumseven {
    width: ptr(52);
    height: ptr(44);
    line-height: ptr(44);
    margin-top: 0.2rem;
    background: url(../img/circlebackground.png) no-repeat;
    background-size: cover;
}

.head {
    background: url(../img/head1.png) no-repeat 50% 50%;
    background-size: cover;
    width: ptr(100);
    height: ptr(100);
    border-radius: 50%;
    float: left;
    margin-left: ptr(8);
}

.userinfo {
    height: ptr(40);
    width: ptr(488);
    float: left;
}

.usernickname {
    @include jiequ;
    width: ptr(228);
    height: 100%;
    font-size: ptr(30);
    color: #4d4d4d;
    float: left;
}

.usercollengname {
    color: #999999;
    font-size: ptr(26);
    margin-top: ptr(4);
    margin-left: ptr(35);
    float: left;
}

.userscore {
    font-size: ptr(36);
    color: #20c7d9;
    // width: ptr(155);
    height: 100%;
    float: right;
    text-align: right;
}

.devoter {
    height: ptr(60);
    margin-top: 0.1rem;
    float: left;
    width: 100%;
}

.devoterimg {
    background: url(../img/devoterimg.png) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 50%;
    width: ptr(60);
    height: ptr(60);
    float: left;
}

.devoterinfo {
    float: left;
    margin-left: ptr(10);
    line-height: ptr(60);
}

.devoterinfo span {
    font-size: ptr(22);
}

.devoterinfo span:first-child {
    color: #999999;
}

.yesterUporDown {
    float: right;
    text-align: right;
    line-height: 0.8rem;
    color: #999999;
    font-size: ptr(22);
}

.usercontent {
    float: left;
    width: ptr(490);
    overflow-x: hidden;
    margin-left: ptr(10);
}

.frontseven {
    .head {
        background: url(../img/head1.png) no-repeat 50% 50%;
        background-size: cover;
        width: ptr(80);
        height: ptr(80);
        border-radius: 50%;
        float: left;
        margin-left: ptr(23);
    }
    .usercontent {
        margin-left: ptr(14);
    }
    .yesterUporDown {
        float: right;
        text-align: right;
        line-height:ptr(36);
        color: #999999;
        font-size: ptr(22);
    }
    .usernickname {
        width: ptr(232);
        font-size: ptr(30);
    }
    .userscore {
        font-size: ptr(30);
    }
    .devoterimg {
        display: none;
    }
    .devoterinfo {
        float: left;
        margin-left: ptr(0);
        line-height: ptr(36);
    }
    .devoterinfo span {
        font-size: ptr(22);
    }
    .devoterinfo span:first-child {
        color: #999999;
    }
}

.frontmoreten {
    height: ptr(44);
    margin-top: ptr(30);
    .ranknumseven{
        margin-top: 0;
    }
    .usercontent {
        margin-left: ptr(14);
        width: ptr(600);
    }
    .userinfo {
        width: 100%;
    }
    .userscore {
        font-size: ptr(30);
    }
    .usernickname {
        width: ptr(332);
    }
}
