@import '../../../../component/base/scss/reset.scss';
@import 'rankcss';
@function ptr($px) {
    @return to-fixed(($px / 75), 2) + rem;
}

@function to-fixed ($number, $digits: 0) {
    $n: 1;
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @return floor($number * $n) / $n;
}

//当超过长度时，用...代替
@mixin jiequ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin collegescontent($id) {
    .norank#{$id} {
        width: ptr(193);
        height: ptr(45);
        margin: 0 auto;
        text-align: center;
        margin-top: ptr(8);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .collegename#{$id} {
        margin: 0 auto;
        margin-top: ptr(200);
        font-size: ptr(36);
        color: #fff;
        span:nth-child(1) {
            padding-left:ptr(5);
            font-size: ptr(30);
        }
        span:nth-child(2) {
            font-size: ptr(24);
        }
        text-align: center;
    }
    .divjoin#{$id} {
        width: ptr(230);
        height: ptr(85);
        margin: 0 auto;
        margin-top: ptr(35);
        background: url(../img/entercollege.png) no-repeat;
        background-size: 91%;
        background-position: top center;
    }
}

body {
   background: #262456;
    font-family: "microsoft yahei", "黑体", "宋体", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.toast {
    position: fixed;
    width: auto;
    max-width: 3.4rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    padding: 0.4rem 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.05rem;
    z-index: 10001;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.content {
    background: url(../img/starbackground.png) no-repeat;
    background-size: 95%;
    background-position: ptr(18) ptr(18);
}

.headimg {
    width: ptr(717);
    height: ptr(339);
    margin: 0 auto;
    background: url(../img/openscholl.png) no-repeat;
    background-size: 100%;
}

.explain {
    text-align:justify;
    text-justify:inter-ideograph;
    width: ptr(680);
    margin: 0 auto;
    color: #3de3f2;
    font-size: ptr(26);
    line-height: 1.5em;
    margin-bottom:ptr(25);
    span {
        color: #ffffff;
    }
}
.details{
  width: ptr(680);
  height: ptr(56);
  margin: 0 auto;
   background: url(../img/detail.png) no-repeat;
   background-position:right;
   background-size:auto 100%;
}
.btnDetails{
    height: 100%;
    width:ptr(154);
    float: right;
}
.activitys {
    width: ptr(660);
    height: ptr(870);
    margin: 0 auto;
    position: relative;
    margin-top: ptr(20);
}

.activityfood,
.activityearthonehour,
.activitynightparty,
.activityprotectlove,
.activitytest,
.road {
    display: absolute;
}

.activityfood {
    width: ptr(228);
    height: ptr(225);
    position: absolute;
    top: 5%;
    left: 10%;
}

.activitytest {
    width: ptr(224);
    height: ptr(222);
    background: url("../img/exim.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: ptr(660);
    left: ptr(5);
}

.food {
    width: ptr(176);
    height: ptr(157);
    margin: 0 auto;
    background: url("../img/food/foodonly.png") no-repeat;
    background-size: 100% 100%;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.foodcaidai {
    width: ptr(228);
    height: ptr(112);
    position: absolute;
    top: 1.4rem;
    background: url("../img/food/caidai.png") no-repeat;
    background-size: 100% 100%;
}

.starhour {
    width: ptr(218);
    height: ptr(181);
    margin: 0 auto;
    background: url("../img/onehour/star.png") no-repeat;
    background-size: 100% 100%;
}

.starhouranimation {
    -webkit-animation: float ease-in-out 2s infinite;
    animation: float ease-in-out 2s infinite;
}

.clode {
    width: ptr(160);
    height: ptr(119);
    margin: 0 auto;
    background: url("../img/onehour/cload.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.7rem;
    left: 0.3rem;
}

.clodeanimation {
    -webkit-animation: float ease-in-out 2s infinite;
    animation: float ease-in-out 2s infinite;
    animation-delay: 0.75s;
}

.hourcaidai {
    width: ptr(228);
    height: ptr(112);
    margin: 0 auto;
    background: url("../img/onehour/hourcaidai.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.8rem;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(0.2em);
        transform: translateY(0.2em);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(0.2em);
        transform: translateY(0.2em);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.moon {
    width: ptr(92);
    height: ptr(92);
    margin: 0 auto;
    background: url("../img/party/moon.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: ptr(10);
}

.bat {
    width: ptr(135);
    height: ptr(27);
    margin: 0 auto;
    background: url("../img/party/bat.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: ptr(40);
}

.pumpkin {
    width: ptr(147);
    height: ptr(157);
    margin: 0 auto;
    background: url("../img/party/pumpkin.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: ptr(30);
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}

@-webkit-keyframes rotateInUpRight {
    from {
        -webkit-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: rotate3d(0, 0, 1, -70deg);
        transform: rotate3d(0, 0, 1, -70deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInUpRight {
    from {
        -webkit-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: rotate3d(0, 0, 1, -70deg);
        transform: rotate3d(0, 0, 1, -70deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.rotateInUpRight {
    -webkit-animation-name: rotateInUpRight;
    animation-name: rotateInUpRight;
}

@-webkit-keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInUpLeft {
    from {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 1;
    }
    to {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.rotateInUpLeft {
    -webkit-animation-name: rotateInUpLeft;
    animation-name: rotateInUpLeft;
}

.caidaiparty {
    width: ptr(244);
    height: ptr(112);
    margin: 0 auto;
    background: url("../img/party/caidaiparty.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.4rem;
    left: -0.2rem;
}

.leftwing {
    width: ptr(71);
    height: ptr(99);
    margin: 0 auto;
    background: url("../img/protectlove/leftwing.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: ptr(23);
    left: ptr(5);
}

.rightwing {
    width: ptr(74);
    height: ptr(92);
    margin: 0 auto;
    background: url("../img/protectlove/rightwing.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: ptr(168);
    top: ptr(53);
}

.protectlove {
    width: ptr(239);
    height: ptr(222);
    margin: 0 auto;
    background: url("../img/protectlove/protectlove.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

#canvasfood {
    width: ptr(228);
    height: ptr(225);
}

#onehourcanvas {
    width: ptr(228);
    height: ptr(250);
}

#nightcanvas {
    width: ptr(244);
    height: ptr(218);
}

#protectcanvas {
    width: ptr(239);
    height: ptr(222);
}

.activityearthonehour {
    width: ptr(228);
    height: ptr(250);
    position: absolute;
    top: ptr(193);
    right: ptr(0);
    z-index: 1;
}

.activitynightparty {
    width: ptr(244);
    height: ptr(218);
    position: absolute;
    top: ptr(370);
    left: ptr(30);
}

.activityprotectlove {
    width: ptr(239);
    height: ptr(222);
    position: absolute;
    top: ptr(644);
    left: ptr(303);
}

.activityroad {
    width: ptr(470);
    height: ptr(624);
    position: absolute;
    top: ptr(0);
    left: ptr(200);
    background: url(../img/road.png) no-repeat;
    background-size: 100% 100%;
}

.activityprocess1,
.activityprocess2,
.activityprocess3,
.activityprocess4 {
    width: ptr(72);
    height: ptr(72);
    position: absolute;
    background: url(../img/lock.png) no-repeat;
    background-size: 100% 100%;
}

.activityprocess1 {
    top: ptr(46);
    left: ptr(263);
}

.activityprocess2 {
    top: ptr(158);
    right: ptr(26);
}

.activityprocess3 {
    top: ptr(399);
    left: ptr(225);
}

.activityprocess4 {
    top: ptr(573);
    right: ptr(175);
}

.activityearth1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: ptr(0) ptr(70);
}

.activityearth1 {
    width: 100%;
    height: ptr(1039);
    top: ptr(1);
    background-image: url(../img/starearth.png);
}

.colleges {
    padding-top: ptr(60);
    margin-top: -2.2rem;
    width: 100%;
    height: ptr(1124);
    background: url(../img/college.png) no-repeat;
    background-size: 100% 100%;
}

ul {
    overflow: hidden;
    li {
        margin-top: ptr(40);
        float: left;
        width: 50%;
        height: ptr(420);
        .licontent1 {
            width: ptr(325);
            height: ptr(400);
            margin: 0 auto;
            margin-left: ptr(30);
            @include collegescontent(1);
        }
        .licontent2 {
            width: ptr(325);
            height: ptr(400);
            margin-left: ptr(15);
            @include collegescontent(2);
        }
        .licontent3 {
            width: ptr(325);
            height: ptr(400);
            margin: 0 auto;
            margin-left: ptr(30);
            @include collegescontent(3);
        }
        .licontent4 {
            width: ptr(325);
            height: ptr(400);
            margin-left: ptr(15);
            @include collegescontent(4);
        }
    }
}

.rank {
    width: ptr(670);
    margin: 0 auto;
    margin-top:-2.5rem;
    background: #fffcf2;

    //overflow: hidden;
    // position: relative;
    // top: -2.5rem;
}

.river {
    width: 100%;
    height: ptr(567);
    background: url(../img/river.png) no-repeat;
    background-size: 100% auto;
    margin-top: -1.2rem;
    position: relative;
}
.explaintext{
margin:0 auto;
color:#69b0b7;
font-size: ptr(22);
text-align: center;
}
.greendiv {
    background: #88d347;
    width: 100%;
}

.whitediv {
    background: url(../img/riverback.png);
   //background:red;
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    margin: 0 auto;
}

.devoterinfo .devotername {}

.mycollege {
    background: url(../img/mycollege.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: ptr(100);
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
}
