@import '../../../../component/base/scss/reset.scss';
@import 'rankcss';
@function ptr($px) {
    @return to-fixed(($px / 75), 2) + rem;
}

@function to-fixed ($number, $digits: 0) {
    $n: 1;
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @return floor($number * $n) / $n;
}

//当超过长度时，用...代替
@mixin jiequ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin collegescontent($id) {
    .norank#{$id} {
        width: ptr(193);
        height: ptr(45);
        margin: 0 auto;
        text-align: center;
        margin-top: ptr(8);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .collegename#{$id} {
        margin: 0 auto;
        margin-top: ptr(200);
        font-size: ptr(36);
        color: #fff;
        span:nth-child(1) {
            font-size: ptr(30);
        }
        span:nth-child(2) {
            font-size: ptr(24);
        }
        text-align: center;
    }
    .divjoin#{$id} {
        width: ptr(230);
        height: ptr(85);
        margin: 0 auto;
        margin-top: ptr(35);
    }
}

body {
    background: #262456;
    font-family: "microsoft yahei", "黑体", "宋体", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.content {
    background: url(../img/starbackground.png) no-repeat;
    background-size: 95%;
    background-position: ptr(18) ptr(18);
}

.headimg {
    width: ptr(717);
    height: ptr(339);
    margin: 0 auto;
    background: url(../img/openscholl.png) no-repeat;
    background-size: 100%;
}

.explain {
    width: ptr(680);
    margin: 0 auto;
    color: #3de3f2;
    font-size: ptr(26);
    line-height: 1.5em;
    span {
        color: #ffffff;
    }
}

.activitys {
    width: ptr(660);
    height: ptr(870);
    margin: 0 auto;
    position: relative;
    margin-top: ptr(20);
}

.activityfood,
.activityearthonehour,
.activitynightparty,
.activityprotectlove,
.road {
    display: absolute;
}

.activityfood {
    width: ptr(228);
    height: ptr(225);
    position: absolute;
    top: ptr(17);
    left: ptr(50);
}

#canvasfood {
    width: ptr(228);
    height: ptr(225);
}

#onehourcanvas {
    width: ptr(228);
    height: ptr(250);
}

#nightcanvas {
    width: ptr(244);
    height: ptr(218);
}

#protectcanvas {
    width: ptr(239);
    height: ptr(222);
}

.activityearthonehour {
    width: ptr(228);
    height: ptr(250);
    position: absolute;
    top: ptr(193);
    right: ptr(0);
    z-index: 1;
}

.activitynightparty {
    width: ptr(244);
    height: ptr(218);
    position: absolute;
    top: ptr(339);
    left: ptr(0);
}

.activityprotectlove {
    width: ptr(239);
    height: ptr(222);
    position: absolute;
    top: ptr(604);
    left: ptr(213);
}

.activityroad {
    width: ptr(470);
    height: ptr(624);
    position: absolute;
    top: ptr(0);
    left: ptr(200);
    background: url(../img/road.png) no-repeat;
    background-size: 100% 100%;
}

.activityprocess1,
.activityprocess2,
.activityprocess3,
.activityprocess4 {
    width: ptr(72);
    height: ptr(72);
    position: absolute;
    background: url(../img/start.png) no-repeat;
    background-size: 100% 100%;
}

.activityprocess1 {
    top: ptr(46);
    left: ptr(263);
}

.activityprocess2 {
    top: ptr(158);
    right: ptr(26);
}

.activityprocess3 {
    top: ptr(369);
    left: ptr(205);
}

.activityprocess4 {
    top: ptr(573);
    right: ptr(175);
}

.activityearth1 {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: ptr(0) ptr(70);
}

.activityearth1 {
    width: 100%;
    height: ptr(1039);
    top: ptr(1);
    background-image: url(../img/starearth.png);
}

.colleges {
    padding-top: ptr(60);
    width: 100%;
    height: ptr(1124);
    background: url(../img/college.png) no-repeat;
    background-size: 100% 100%;
}

ul {
    overflow: hidden;
    li {
        margin-top: ptr(40);
        float: left;
        width: 50%;
        height: ptr(420);
        .licontent1 {
            width: ptr(325);
            height: ptr(400);
            margin: 0 auto;
            margin-left: ptr(30);
            @include collegescontent(1);
        }
        .licontent2 {
            width: ptr(325);
            height: ptr(400);
            margin-left: ptr(15);
            @include collegescontent(2);
        }
        .licontent3 {
            width: ptr(325);
            height: ptr(400);
            margin: 0 auto;
            margin-left: ptr(30);
            @include collegescontent(3);
        }
        .licontent4 {
            width: ptr(325);
            height: ptr(400);
            margin-left: ptr(15);
            @include collegescontent(4);
        }
    }
}

.rank {
    width: ptr(670);
    margin: 0 auto;
    background: #fffcf2;
    overflow: hidden;
    position: relative;
    top: -2.5rem;
}


.river {
    width: 100%;
    height: ptr(567);
    background: url(../img/river.png) no-repeat;
    background-size: 100% auto;
    margin-top: -2.2rem;
}

.greendiv {
    background: #88d347;
    width: 100%;
}

.whitediv {
    background: url(../img/riverback.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    margin: 0 auto;
}

.devoterinfo .devotername {}

.mycollege {
    background: url(../img/mycollege.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: ptr(100);
    width: 100%;
    position: fixed;
    bottom: 0;
}
