<!DOCTYPE html>
<html lang="en">

<head>
    <title>星球一小时</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <script src="http://s.xnimg.cn/a12345/wap/static/activity/onehour/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a12345/wap/static/activity/onehour/onehour.css" />
</head>

<body>

    <head>
        <section class="headerimg">
            <div class="topThree">
                <div class="second">
                    <div class="headigms">
                        <div class="authorheadimg">
                        </div>
                        <div class="devoterheadimg">
                        </div>
                    </div>
                    <div class="authorname">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="devotername">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="collegename">
                        留缝隙
                    </div>
                    <div class="devotevalue">
                        2475.9亿
                    </div>
                </div>
                <div class="first">
                    <div class="headigms">
                        <div class="authorheadimg">
                        </div>
                        <div class="devoterheadimg">
                        </div>
                    </div>
                    <div class="authorname">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="devotername">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="collegename">
                        留缝隙
                    </div>
                    <div class="devotevalue">
                        2475.9亿
                    </div>
                </div>
                <div class="third">
                    <div class="headigms">
                        <div class="authorheadimg">
                        </div>
                        <div class="devoterheadimg">
                        </div>
                    </div>
                    <div class="authorname">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="devotername">
                        dsgf防守对方阿飞斯蒂芬阿斯蒂芬啊
                    </div>
                    <div class="collegename">
                        留缝隙
                    </div>
                    <div class="devotevalue">
                        2475.9亿
                    </div>
                </div>
            </div>
        </section>
    </head>
    <article>
        <section class="rank">

        </section>
    </article>
</body>
<script src="http://s.xnimg.cn/a12345/wap/static/activity/onehour/onehour.js"></script>

</html>
