<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <script src="D:\huodong\September\renren-project\src\project\activity\starcollege\js\starcollege.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/starcollege.css" />
    <link rel="stylesheet" href="../scss/test2.css">
    <style>
    /*.rank {
        width: 670px;
        margin: 0 auto;
        background: yellow;
    }

    .fronttree {
        width: 100%;
        height: 100px;
        background: blue;
        position: relative;
        overflow: hidden;
    }
    .frontseven{
        width: 100%;
        height: 100px;
        background: blue;
        position: relative;
        overflow: hidden;
    }

    .ranknum {
        width: 58px;
        height: 58px;
        position: relative;
        top: 50%;
        margin-top: -29px;
        background: url(../img/rankstar.png) no-repeat;
        background-size: 100%;
        float: left;
        color: #d96c00;
        font-size: 30px;
        text-align: center;
        line-height: 58px;
    }

    .head {
        background: url(../img/head1.png) no-repeat 50% 50%;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        float: left;
        margin-left: 8px;
    }

    .userinfo {
        height: 34px;
        width: 488px;
        float: left;
        background-color: pink;
    }

    .usernickname {
        width: 228px;
        height: 100%;
        font-size: 30px;
        color: #4d4d4d;
        background: #ffd;
        float: left;
    }

    .usercollengname {
        color: #999999;
        font-size: 26px;
        width: 96px;
        margin-top:4px;
        background-color: gray;
        float: left;
    }
    .userscore {
        font-size: 36px;
        color: #20c7d9;
        width: 164px;
        height: 100%;
        float: right;
        text-align: right;
        background: #fad;
    }

    .devoter {
        height: 60px;
        background: red;
        float: left;
    }

    .devoterimg {
        background: url(../img/devoterimg.png) no-repeat 50% 50%;
        background-size: cover;
        width: 60px;
        height: 60px;

        float: left;
    }

    .devoterinfo {
        float: left;
        line-height: 60px;
    }

    .devoterinfo span:first-child {
        color: #999999;
        font-size: 22px;
    }

    .usercontent {
        float: left;
        width: 490px;
        overflow: hidden;
        background: green;
        margin-left: 10px;
    }

    .devoterinfo .devotername {

    }*/
    </style>
</head>

<body>
    <div class="content">
        <div class="headimg">
        </div>
        <div class="explain">
            在人人星球上有一所顶尖的魔法大学——星光学院。学院诞生了4个拥有不同技能的魔法派系：<span>极光系</span>、<span>影月系</span>、<span>流风系</span>、<span>长云系</span>，只有少数人才能成为最优秀的魔法师。
        </div>
        <div class="activityearth1">
            <div class="activitys">
                <div class="road">
                </div>
                <div class="activityfood">
                    <canvas id="canvasfood" width="228" height="225">
                    </canvas>
                </div>
                <div class="activityearthonehour">
                    <canvas id="onehourcanvas" width="228" height="250"></canvas>
                </div>
                <div class="activitynightparty">
                    <canvas id="nightcanvas" width="244" height="218">
                    </canvas>
                </div>
                <div class="activityprotectlove">
                    <canvas id="protectcanvas" width="239" height="222">
                    </canvas>
                </div>
                <div class="activityroad">
                </div>
                <div class="activityprocess1">
                </div>
                <div class="activityprocess2">
                </div>
                <div class="activityprocess3">
                </div>
                <div class="activityprocess4">
                </div>
            </div>
        </div>
        <div class="colleges">
            <ul>
                <li>
                    <div class="licontent1">
                        <div class="norank1">
                        </div>
                        <div class="collegename1">极光系<span>32524</span><span>万积分</span></div>
                        <div class="divjoin1">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="licontent2">
                        <div class="norank2">
                        </div>
                        <div class="collegename2">极光系<span>32524</span><span>万积分</span></div>
                        <div class="divjoin2">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="licontent3">
                        <div class="norank3">
                        </div>
                        <div class="collegename3">极光系<span>32524</span><span>万积分</span></div>
                        <div class="divjoin3">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="licontent4">
                        <div class="norank4">
                        </div>
                        <div class="collegename4">极光系<span>32524</span><span>万积分</span></div>
                        <div class="divjoin4">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="greendiv">
            <div class="river">
            </div>
            <div class="whitediv">
                <div class="rank">
                    <div class="fronttree">
                        <div class="ranknum">
                            1
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fronttree">
                        <div class="ranknum">
                            1
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fronttree">
                        <div class="ranknum">
                            1
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontseven">
                        <div class="ranknumseven">
                            100
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontseven">
                        <div class="ranknumseven">
                            4
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontseven">
                        <div class="ranknumseven">
                            4
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontseven">
                        <div class="ranknumseven">
                            4
                        </div>
                        <div class="head">
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    2.4亿
                                </div>
                            </div>
                            <div class="devoter">
                                <div class="devoterimg">
                                </div>
                                <div class="devoterinfo">
                                    <span>赞助人</span>
                                    <span class="devotername">赞助人的名字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontmoreten">
                        <div class="ranknumseven">
                            11
                        </div>
                        <div class="usercontent">
                            <div class="userinfo">
                                <div class="usernickname">
                                    用户名某某某斯蒂芬
                                </div>
                                <div class="usercollengname">
                                    流风系
                                </div>
                                <div class="userscore">
                                    3547.4万
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/starcollege.js"></script>
</html>
