<html lang="en">
<head>
    <title>星光学院活动规则</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="http://s.xnimg.cn/a86546/wap/static/activity/starcollege/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a86546/wap/static/activity/starcollege/explainstarcollege.css"/>
</head>
<body>
<div class="explainimg">

</div>
<a class="mycollege" href="http://huodong.renren.com/common/activity/activityHome">
</a>
</body>
</html>
