<!DOCTYPE html>
<html lang="en">
<head>
    <title>"美"食嘉年华 颁奖典礼</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src = "http://s.xnimg.cn/a12345/wap/static/activity/starcollege/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/foodawards.css"/>
</head>
<body>
    <div class="headContent">

    </div>
     <div class="rankContent">

    </div>
</body>
<script src = "http://s.xnimg.cn/a12345/wap/static/activity/starcollege/foodawards.js"></script>
</html>
