<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src = "http://s.xnimg.cn/wap/static/activity/starcollege/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/wap/static/activity/starcollege/livebegin.css"/>
</head>
<body>
    <div class="top">
        <div class="activityInfo"></div>
    </div>
    <div class="middle">
        <div class="foreshow">
            <div class="foreshowBar"><div class="liveButton"></div> </div>
            <div class="showList">
                <div class="userAvatar">
                    <img src="">
                </div>
                <div class="userInfo">
                    <div class="userName">qweqweqwe</div>
                    <div class="userLiveTitle">qweqwe</div>
                </div>
                <p class="userLiveTime">20:00</p>
                <div class="concern"></div>
            </div>
            <div class="liveNow">
                <div class="userAvatar">
                    <img src="">
                </div>
                <div class="userInfo">
                    <div class="userName">qweqweqwe</div>
                    <div class="userLiveTitle">qweqwe</div>
                </div>
            </div>
            <div class="liveNow"></div>
            <div class="liveNow"></div>
            <div class="liveNow"></div>
            <div class="iconLeft"></div>
            <div class="iconRight"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="jifenBar"></div>
        <div class="rankList">
             <div class="firstThree">
            <ul class="rankul">
                <li>
                    <div class="ranknum">
                        2
                    </div>
                </li>
                <li>
                    <div class="headimg">
                    </div>
                </li>
                <li>
                    <div class="userinfo">
                        <div class="username">
                            用户名斯蒂斯蒂芬斯蒂芬书法大赛第三方奥帆
                        </div>
                        <div class="collegename">
                            流云系
                        </div>
                    </div>
                </li>
                <li>
                    <div class="score">
                        1.4亿
                    </div>
                </li>
                <li>
                    <div class="buttonIcon" data-userid="123" data-status="down">
                    </div>
                </li>
            </ul>
            <ul class="giftlist" data=123>
                <li>
                    <div class="sugarli">5</div>
                </li>
                <li>
                    <div class="sugarli">5</div>
                </li>
                <li>
                    <div class="sugarli">12455</div>
                </li>
                <li>
                    <div class="sugarli">5</div>
                </li>
            </ul>
        </div>
        <div class="notFirstThree">
            <ul class="rankul">
                <li>
                    <div class="ranknum">
                        400
                    </div>
                </li>
                <li>
                    <div class="headimg">
                    </div>
                </li>
                <li>
                    <div class="userinfo">
                        <div class="username">
                            用户名斯蒂
                        </div>
                        <div class="collegename">
                            流云系
                        </div>
                    </div>
                </li>
                <li>
                    <div class="score">
                        2647.4亿
                    </div>
                </li>
                <li>
                    <div class="buttonIcon data-userid="456" data-status="down"">
                    </div>
                </li>
            </ul>
            <ul class="giftlist" data="456">
                <li>
                    <div class="sugarli">5</div>
                </li>
                <li>
                    <div class="sugarli">5</div>
                </li>
                <li>
                    <div class="sugarli">12455</div>
                </li>
                <li>
                    <div class="sugarli">5</div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <div class="backCollege"></div>
</body>
<script src = "http://s.xnimg.cn/a12345/wap/static/activity/starcollege/livebegin.js"></script>
</html>