<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src = "http://s.xnimg.cn/a/wap/static/activity/starcollege/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a/a/tatic/activity/starcollege/livebegin.css"/>
</head>
<body>
    <div class="top">
        <div class="activityInfo"></div>
    </div>
    <div class="middle">
        <div class="foreshow">
            <div class="foreshowBar"></div>
            <div class="showList">
                <div class="userAvatar"></div>
                <div class="userInfo"></div>
                <div class="liveTime"></div>
                <div class="concern"></div>
            </div>
            <div class="showList"></div>
            <div class="showList"></div>
            <div class="iconLeft"></div>
            <div class="iconRight"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="jifenBar"></div>
        <div class="rankList"></div>
    </div>
</body>
<script src = "http://s.xnimg.cn/a/a/a//activity/starcollege/livebegin.js"></script>
</html>