<!DOCTYPE html>
<html lang="en">
<head>
    <title>星球一小时</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <script src="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/libs.js"></script>
    <link rel="stylesheet" href="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/onehour.css" />
</head>

<body>

    <head>
        <section class="headerimg">
        </section>
    </head>
    <article class="explain">
        <section class="hisroom">
            <div class="title1img">
            </div>
            <div class="title1text">
                主播在活动当晚的首次直播中，将会被关闭直播间的灯光，开启一场神秘的黑暗直播。而礼物是唯一已知的发光能源，赠送礼物可点亮直播间。
            </div>
        </section>
        <section class="run">
            <div class="title2text">
                活动期间，赠送单价超过4000果的礼物，即可与主播登上全站飘屏跑道。所有跑道文案都将由 赠送了一个银河系，改为<span>粉丝和主播携手捐赠了一个银河系。</span>
            </div>
            <div class="title2img">
            </div>
        </section>
        <section class="explaintip">

        </section>
        <section class="rank">
            <div class="rankhead">
            </div>
            <div class="ranklist">
               <!--  <div class="firstThree">
                    <ul class="rankul">
                        <li>
                            <div class="ranknum">
                                2
                            </div>
                        </li>
                        <li>
                            <div class="headimg">
                            </div>
                        </li>
                        <li>
                            <div class="userinfo">
                                <div class="username">
                                    用户名斯蒂斯蒂芬斯蒂芬书法大赛第三方奥帆
                                </div>
                                <div class="collegename">
                                    流云系
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                1.4亿
                            </div>
                        </li>
                        <li>
                            <div class="buttonIcon" data-userid="123" data-status="down">
                            </div>
                        </li>
                    </ul>
                     <ul class="devoterlist" data="123">
                        <li>
                            <div class="headImgs">
                                <div class="head1">
                                </div>
                                <div class="head2">
                                </div>
                            </div>
                            <div class="tuhaoinfo">
                                <div class="tuhaonameparent">
                                    与<span class="tuhaoname">豪大名某发放防守对方斯蒂芬斯蒂芬</span>
                                </div>
                                <div class="tuhaonameparent">
                                    共同捐赠<span class="givevalue">1234万</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="headImgs">
                                <div class="head1">
                                </div>
                                <div class="head2">
                                </div>
                            </div>
                            <div class="tuhaoinfo">
                                <div class="tuhaonameparent">
                                    与<span class="tuhaoname">豪大名某发放防守对方斯蒂芬斯蒂芬</span>
                                </div>
                                <div class="tuhaonameparent">
                                    共同捐赠<span class="givevalue">1234万</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="notFirstThree">
                    <ul class="rankul">
                        <li>
                            <div class="ranknum">
                                400
                            </div>
                        </li>
                        <li>
                            <div class="headimg">
                            </div>
                        </li>
                        <li>
                            <div class="userinfo">
                                <div class="username">
                                    用户名斯蒂
                                </div>
                                <div class="collegename">
                                    流云系
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                2647.4亿
                            </div>
                        </li>
                        <li>
                            <div class="buttonIcon" data-userid="456" data-status="down">
                            </div>
                        </li>
                    </ul>
                    <ul class="devoterlist" data="456">
                        <li>
                            <div class="headImgs">
                                <div class="head1">
                                </div>
                                <div class="head2">
                                </div>
                            </div>
                            <div class="tuhaoinfo">
                                <div class="tuhaonameparent">
                                    与<span class="tuhaoname">豪大名某发放防守对方斯蒂芬斯蒂芬</span>
                                </div>
                                <div class="tuhaonameparent">
                                    共同捐赠<span class="givevalue">1234万</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="headImgs">
                                <div class="head1">
                                </div>
                                <div class="head2">
                                </div>
                            </div>
                            <div class="tuhaoinfo">
                                <div class="tuhaonameparent">
                                    与<span class="tuhaoname">豪大名某发放防守对方斯蒂芬斯蒂芬</span>
                                </div>
                                <div class="tuhaonameparent">
                                    共同捐赠<span class="givevalue">1234万</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> -->
            </div>
        </section>
    </article>
</body>
<script src="http://s.xnimg.cn/a12345/wap/static/activity/starcollege/onehour.js"></script>

</html>
