<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <style>
    body {
        background-color: blue;
    }
    </style>
    <link rel="stylesheet" href="">
</head>

<body>
    <div style="height: 100px"></div>
    <div class="content">
        <canvas id="canvas" style="width: 228px;height: 225px;border:1px solid green" width="228" height="225">
        </canvas>
    </div>
    <div>
        星球一小时
    </div>
    <div class="content">
        <canvas id="onehourcanvas" style="width: 228px;height: 250px;border:1px solid green" width="228" height="250">
        </canvas>
    </div>
    <div>
        奇幻夜
    </div>
    <div class="content">
        <canvas id="nightcanvas" style="width: 244px;height: 218px;border:1px solid green" width="244" height="218">
        </canvas>
    </div>
    <div>
        守卫爱情
    </div>
    <div class="content">
        <canvas id="protectcanvas" style="width: 239px;height: 222px;border:1px solid green" width="239" height="222">
        </canvas>
    </div>
    <input type="button" value="绘制" onclick="drawprotect()">
    <input type="button" value="click" onclick="drawwing2()">
    <script>
    function drawline(canvas) {
        var canvaswidth = canvas.width;
        var canvasheight = canvas.height;
        cxt.save();
        cxt.beginPath();
        cxt.moveTo(canvaswidth / 2, 0);
        cxt.lineTo(canvaswidth / 2, canvasheight);
        cxt.strokeStyle = "#fffccc";
        cxt.stroke();
        cxt.beginPath();
        cxt.moveTo(0, canvasheight / 2);
        cxt.lineTo(canvaswidth, canvasheight / 2);
        cxt.strokeStyle = "#fffccc";
        cxt.stroke();
        cxt.restore();
    }

    (function() {

        var canvas = document.getElementById("protectcanvas");
        var cxt = canvas.getContext("2d");
        var leftwing = new Image();
        leftwing.src = "../img/protectlove/leftwing.png";
        var rightwing = new Image();
        rightwing.src = "../img/protectlove/rightwing.png";
        var protectlove = new Image();
        protectlove.src = "../img/protectlove/protectlove.png";
        var leftwingy = 21;
        var rightwingy = 45;
        var angle = 0;
        var speed = 0.1;
        var i = 1;

        function drawprotect() {
            i += 1;
            leftwingy = 26 + Math.sin(angle) * 5;
            rightwingy = 45 + Math.sin(angle) * 5;
            angle += speed;
            var canvaswidth = canvas.width;
            var canvasheight = canvas.height;
            cxt.clearRect(0, 0, canvaswidth, canvasheight);
            // leftwingy = leftwingy - 1;
            // rightwingy = rightwingy - 1;
            cxt.save();
            cxt.drawImage(leftwing, 8, leftwingy);
            cxt.restore();
            cxt.save();
            cxt.drawImage(rightwing, 164, rightwingy);
            cxt.restore();
            cxt.save();
            cxt.drawImage(protectlove, 0, 0);
            cxt.restore();
        }
        (function drawprotectrun() {
            window.requestAnimationFrame(drawprotectrun);
            drawprotect();
        })();


    })();


    // var canvas = document.getElementById("nightcanvas");
    // var cxt = canvas.getContext("2d");
    // var bat = new Image();
    // bat.src = "../img/party/bat.png";
    // var caidaiparty = new Image();
    // caidaiparty.src = "../img/party/caidaiparty.png";
    // var pumpkin = new Image();
    // pumpkin.src = "../img/party/pumpkin.png";
    // var rotatex = 0;
    // var rotatey = 0;
    // var rate = 0.01;
    // var flag = true;
    // var maxrat = Math.PI * 21 / 3;

    // function drawnight() {
    //     if (rotatex >= Math.PI * 1 / 6) {
    //         flag = false;
    //     }
    //     if (rotatex <= -Math.PI * 1 / 6) {
    //         flag = true;
    //     }
    //     if (flag) {
    //         rotatex = rotatex + rate;
    //     } else {
    //         rotatex = rotatex - rate;
    //     }
    //     rotatey = rotatex;
    //     var canvaswidth = canvas.width;
    //     var canvasheight = canvas.height;
    //     cxt.clearRect(0, 0, canvaswidth, canvasheight);
    //     cxt.save();
    //     cxt.beginPath();
    //     cxt.arc(65, 52, 46, 0, Math.PI * 2, true);
    //     cxt.fillStyle = "#ffe252";
    //     cxt.closePath();
    //     cxt.fill();
    //     cxt.restore();
    //     cxt.save();
    //     cxt.drawImage(bat, 59, 7);
    //     cxt.restore();
    //     cxt.save();
    //     cxt.translate(112, 89);
    //     cxt.rotate(rotatey);
    //     cxt.drawImage(pumpkin, -73, -78);
    //     cxt.restore();
    //     cxt.save();
    //     cxt.drawImage(caidaiparty, 0, 107);
    //     cxt.restore();

    // }













    window.requestAnimFrame = (function() {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function(callback) {
                window.setTimeout(callback, 1000 / 60); //定义每秒执行60次动画
            };
    })();
    //美食节
    (function() {
        var canvas = document.getElementById("canvas");
        var cxt = canvas.getContext("2d");
        var foodonly = new Image();
        foodonly.src = "../img/food/foodonly.png";
        var caidaifood = new Image();
        caidaifood.src = "../img/food/caidai.png";
        var sclae = 1;
        var imgwidht = foodonly.width;
        var imgheight = foodonly.height;
        var scalenum = 1;
        var rate = 0.001;
        var flag = true;

        function drawfood() {
            if (scalenum >= 1) {
                flag = false;
            }

            if (scalenum <= 0.9) {
                flag = true;
            }
            if (flag) {
                scalenum = scalenum * (1 + rate);
            } else {
                scalenum = scalenum * (1 - rate);
            }

            var canvaswidth = canvas.width;
            var canvasheight = canvas.height;
            cxt.clearRect(0, 0, canvaswidth, canvasheight);
            var imgwidht = foodonly.width;
            var imgheight = foodonly.height;
            cxt.save();
            cxt.translate(112, 80);
            cxt.scale(scalenum, scalenum);
            cxt.drawImage(foodonly, -imgwidht / 2, -imgheight / 2);
            cxt.restore();
            cxt.save();
            cxt.translate(0, 111);
            cxt.drawImage(caidaifood, 0, 0);
            cxt.restore();
        }
        (function drawFood() {
            // window.requestAnimationFrame(drawFood);
            drawfood()
        })();
    })();





    (function() {


        var canvas = document.getElementById("onehourcanvas");
        var cxt = canvas.getContext("2d");
        var star = new Image();
        star.src = "../img/onehour/star.png";
        var cload = new Image();
        cload.src = "../img/onehour/cload.png";
        var hourcaidai = new Image();
        hourcaidai.src = "../img/onehour/hourcaidai.png";
        var starxy = {
            x: 0,
            y: 10,
            rate: 0.2,
            starflag: true
        };
        var cloadxy = {
            x: 26,
            y: 62,
            rate: 0.1,
            cloadflag: true
        };


        function drawonehour() {
            if (starxy.y > 20) {
                starxy.starflag = true;
            }
            if (starxy.y < 0) {
                starxy.starflag = false;
            }
            if (starxy.starflag) {
                starxy.y = ((starxy.y * 100) - starxy.rate * 100) / 100;
            } else {
                starxy.y = ((starxy.y * 100) + starxy.rate * 100) / 100;
            }
            if (cloadxy.y > 72) {
                cloadxy.cloadflag = true;
            }
            if (cloadxy.y < 52) {
                cloadxy.cloadflag = false;
            }
            if (cloadxy.cloadflag) {
                cloadxy.y = ((cloadxy.y * 100) - cloadxy.rate * 100) / 100;
            } else {
                cloadxy.y = ((cloadxy.y * 100) + cloadxy.rate * 100) / 100;
            }
            var canvaswidth = canvas.width;
            var canvasheight = canvas.height;
            cxt.clearRect(0, 0, canvaswidth, canvasheight);
            cxt.save();
            cxt.drawImage(star, starxy.x, starxy.y);
            cxt.restore();
            cxt.save();
            cxt.drawImage(cload, cloadxy.x, cloadxy.y);
            cxt.restore();
            cxt.save();
            cxt.drawImage(hourcaidai, 0, 136);
            cxt.restore();
            cxt.save();
            cxt.beginPath();
            cxt.moveTo(canvaswidth / 2, 0);
            cxt.lineTo(canvaswidth / 2, canvasheight);
            cxt.strokeStyle = "#fffccc";
            cxt.stroke();
            cxt.beginPath();
            cxt.moveTo(0, canvasheight / 2);
            cxt.lineTo(canvaswidth, canvasheight / 2);
            cxt.strokeStyle = "#fffccc";
            cxt.stroke();
            cxt.restore();
        }
        (function drawOneHourXunhuan() {
            //window.requestAnimationFrame(drawOneHourXunhuan);
            drawonehour()
        })();
    })();



    (function() {
        var canvas = document.getElementById("canvas");
        var cxt = canvas.getContext("2d");
        var foodonly = new Image();
        foodonly.src = "../img/food/foodonly.png";
        var caidaifood = new Image();
        caidaifood.src = "../img/food/caidai.png";
        var sclae = 1;
        var imgwidht = foodonly.width;
        var imgheight = foodonly.height;
        var scalenum = 1;
        var rate = 0.001;
        var flag = true;

        function drawfood() {
            if (scalenum >= 1) {
                flag = false;
            }

            if (scalenum <= 0.9) {
                flag = true;
            }
            if (flag) {
                scalenum = scalenum * (1 + rate);
            } else {
                scalenum = scalenum * (1 - rate);
            }

            var canvaswidth = canvas.width;
            var canvasheight = canvas.height;
            cxt.clearRect(0, 0, canvaswidth, canvasheight);
            var imgwidht = foodonly.width;
            var imgheight = foodonly.height;
            cxt.save();
            cxt.translate(112, 80);
            cxt.scale(scalenum, scalenum);
            cxt.drawImage(foodonly, -imgwidht / 2, -imgheight / 2);
            cxt.restore();
            cxt.save();
            cxt.beginPath();
            cxt.moveTo(canvaswidth / 2, 0);
            cxt.lineTo(canvaswidth / 2, canvasheight);
            cxt.strokeStyle = "#fffccc";
            cxt.stroke();
            cxt.beginPath();
            cxt.moveTo(0, canvasheight / 2);
            cxt.lineTo(canvaswidth, canvasheight / 2);
            cxt.strokeStyle = "#fffccc";
            cxt.stroke();
            cxt.restore();
            cxt.save();
            cxt.translate(0, 111);
            cxt.drawImage(caidaifood, 0, 0);
            cxt.restore();
        }
        // (function drawFood() {
        //     window.requestAnimationFrame(drawFood);
        //     drawfood()
        // })();
    })();

















    // function drawfood() {
    //      var imgwidth=foodonly.width;
    // var imgheight=foodonly.height;
    //     cxt.save();
    //     cxt.translate(x, y);
    //     imgwidth=imgwidth*sclae;
    //     imgheight=imgheight*sclae;
    //     //cxt.scale(sclae,sclae);
    //     cxt.drawImage(foodonly, x - (sclae - 1) * imgwidth, y - (sclae - 1) * imgheight,imgwidth,imgheight);
    //     cxt.restore();
    //     x=x - (sclae - 1) * imgwidth;
    //     y= y - (sclae - 1) * imgheight;
    // }






    var leftwing = new Image();
    leftwing.src = "../img/protectlove/leftwing.png";
    var rightwing = new Image();
    rightwing.src = "../img/protectlove/rightwing.png";
    var centerimg = new Image();
    centerimg.src = "../img/protectlove/protectlove.png";
    // var x = 0;
    // var y = 0;
    // var leftwingy = 21;
    // var rightwingy = 45;

    function drawwing() {
        cxt.clearRect(0, 0, canvas.width, canvas.height);
        leftwingy = leftwingy - 1;
        rightwingy = rightwingy - 1;
        cxt.save();
        cxt.drawImage(leftwing, 8, leftwingy);

        cxt.restore();
        cxt.save();
        cxt.drawImage(rightwing, 164, rightwingy);
        cxt.restore();
        cxt.save();
        cxt.drawImage(centerimg, 0, 0);
        cxt.restore();
    }

    function drawwing2() {
        cxt.clearRect(0, 0, canvas.width, canvas.height);
        leftwingy = leftwingy + 1;
        rightwingy = rightwingy + 1;
        cxt.save();
        cxt.drawImage(leftwing, 8, leftwingy);
        cxt.restore();
        cxt.save();
        cxt.drawImage(rightwing, 164, rightwingy);
        cxt.restore();
        cxt.save();
        cxt.drawImage(centerimg, 0, 0);
        cxt.restore();
    }









    // var grd = cxt.createLinearGradient(0, 0, 175, 50, 0); //0代表倾斜，没有代表竖直
    // grd.addColorStop(0, "#FF0000");
    // grd.addColorStop(1, "#00FF00");
    // cxt.fillStyle = grd;
    // cxt.fillRect(0, 0, 175, 175);
    // cxt.save();
    // cxt.translate(200, 200);
    // cxt.fillStyle = "red";
    // cxt.fillRect(0, 0, 50, 50);
    // cxt.restore();
    // cxt.globalCompositeOperation = "destination-over";
    // cxt.fillStyle = "blue";
    // cxt.fillRect(170, 170, 50, 50);







    var angleNum = 0;
    var angelMoon = 0;
    var stars = [];
    var meteors = [];
    var stats;

    function init() {
        stats = new Stats();
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        ctx = document.getElementById("canvas").getContext("2d");
        w = window.innerWidth;
        h = widows.innerHeight;
        ctx.canvas.width = w;
        ctx.canvas.height = h;
        gen


    }

    function generateMeteor() {
        for (var i = 0; i < 2; i++) {
            //var m=mew Me
        }
    }

    function draw() {
        stats.begin();
        ctx.globalCompositeOperation = "destination-over";
        ctx.clearRect(0, 0, w, h);
        ctx.fillStyle = "rgba(0,0,0,0.8)";
        ctx.strokeStyle = "rgba(255,255,255,0.4)";
        drawStars();


    }

    function drawStars() {
        for (var m in stars) {
            stars[m].draw(ctx);
        }
    }

    function Star() {
        this.x;
        this.y;
        this.radius;
        this.opacity;
        this.loopNum;
        this.draw = function(ctx) {
            ctx.save();


            ctx.fillStyle = "#fff";
            ctx.beginPath();
            ctx.arc(this.x, this.y, 0, Math.PI * 2, false);
            ctx.closePath();
            ctx.fill();
            ctx.restore();
        }
    }

    // cxt.moveTo(200,200);
    // cxt.font="Bold 70px Arial";
    // cxt.textAlign="left";
    // cxt.fillStyle="#005600";
    // cxt.fillText("你好", 10, 150);
    // cxt.strokeText("大家收衣服了", 10, 300);


    // cxt.beginPath();
    // cxt.moveTo(0, 0);
    // cxt.lineTo(50, 50);
    // cxt.lineTo(100, 50);
    // cxt.closePath();
    // cxt.lineWidth=5;
    // cxt.strokeStyle="#fffccc";
    // cxt.stroke();


    // var c=document.getElementById("canvas");
    // var cxt=c.getContext("2d");
    // var grd=cxt.createLinearGradient(0, 0, 175, 50,0);//0代表倾斜，没有代表竖直
    // grd.addColorStop(0, "#FF0000");
    // grd.addColorStop(1,"#00FF00");
    // cxt.fillStyle=grd;
    // cxt.fillRect(0, 0, 175, 175);

    // var img = new Image();
    // img.src = '../img/protectlove/tupian1.png';
    // var x = 0;
    // var y = 0;
    // var c = document.getElementById("canvas");
    // var cxt = c.getContext("2d");
    //     cxt.drawImage(img, 0, 0, 100, 100);


    // function test() {
    //     //cxt.clearRect(-200, -200,400, 400);
    //     cxt.restore();
    //     cxt.translate(200, 200);
    //     cxt.rotate(Math.PI / 6);
    //     cxt.drawImage(img, 0, 0, 100, 100);
    //     //cxt.restore();
    // }
    // function test1(){
    //     cxt.drawImage(img, 0, 0, 100, 100);
    //     cxt.save();
    // }


    // function onload() {
    //     var canvas2 = document.getElementById('canvas');
    //     var ctx2 = canvas2.getContext('2d');
    //     // regular rotation about point
    //     var image2 = new Image();
    //     image2.onload = function() {
    //         // regular rotation about a point
    //         var angle = 120 * Math.PI / 180; // angle of rotation in radians
    //         var rx = 300,
    //             ry = 200; // the rotation x and y
    //         var px = 300,
    //             py = 50; // the objects center x and y
    //         var radius = ry - py; // the difference in y positions or the radius
    //         var dx = rx + radius * Math.sin(angle); // the draw x
    //         var dy = ry - radius * Math.cos(angle); // the draw y
    //         ctx2.drawImage(image2, 300 - image2.width / 2, 50 - image2.height / 2);
    //         ctx2.beginPath();
    //         ctx2.arc(300, 200, 5, 0, Math.PI * 2, false);
    //         ctx2.closePath();
    //         ctx2.fillStyle = 'rgba(0,255,0,0.25)';
    //         ctx2.fill();

    //         ctx2.save();
    //         ctx2.translate(dx, dy);
    //         ctx2.rotate(angle);
    //         ctx2.translate(-dx, -dy);
    //         ctx2.drawImage(image2, dx - image2.width / 2, dy - image2.height / 2);
    //         ctx2.restore();
    //     }
    //     image2.src = '../img/protectlove/protectlove.png';
    // }

    //onload();













    // var canvas = document.getElementById("canvas"),
    //     angle = 0,
    //     range = 50,
    //     speed = 0.05,
    //     flashspeed = 0.1,
    //     flashangle = 0,
    //     isFoward = true;
    // imagex = 0;
    // imagey = 0;
    // var ctx1 = document.getElementById("canvas").getContext("2d");;
    // var image1 = new Image();
    // image1.src = "../img/protectlove/tupian1.png";
    // //window.onload = function() {
    // window.onload = function() {
    //         var xpos = canvas.width / 2;
    //         var ypos = canvas.height / 2;
    //         ctx1.drawImage(image1, xpos - image1.width / 2, ypos - image1.height / 2);
    //         ctx1.save();
    //         ctx1.translate(xpos, ypos);
    //         ctx1.rotate(47 * Math.PI / 180); //旋转47度
    //         ctx1.translate(-xpos, -ypos);
    //         ctx1.drawImage(image1, xpos - image1.width / 2, ypos - image1.height / 2);
    //         ctx1.restore();
    //     }
    // image.onload = function() {
    //     ctx.drawImage(image, 0, 0, 230, 130);

    //     //setInterval(test, 1000);
    //     // var canvasData = ctx.getImageData(0, 0, canvas.width, canvas.height);
    //     // for (var x = 0; x < canvasData.width; x++) {
    //     //     for (var y = 0; y < canvasData.height; y++) {

    //     //         // Index of the pixel in the array
    //     //         var idx = (x + y * canvasData.width) * 4;
    //     //         var r = canvasData.data[idx + 0];
    //     //         var g = canvasData.data[idx + 1];
    //     //         var b = canvasData.data[idx + 2];
    //     //         var gray = .299 * r + .587 * g + .114 * b;

    //     //         // assign gray scale value
    //     //         canvasData.data[idx + 0] = gray; // Red channel
    //     //         canvasData.data[idx + 1] = gray; // Green channel
    //     //         canvasData.data[idx + 2] = gray; // Blue channel
    //     //         canvasData.data[idx + 3] = 255; // Alpha channel
    //     //         // 加上黑色的边框
    //     //         if (x < 8 || y < 8 || x > (canvasData.width - 8) || y > (canvasData.height - 8)) {
    //     //             canvasData.data[idx + 0] = 0;
    //     //             canvasData.data[idx + 1] = 0;
    //     //             canvasData.data[idx + 2] = 0;
    //     //         }
    //     //     }
    //     // }
    //     // ctx.putImageData(canvasData, 0, 0);

    // };
    </script>
</body>

</html>
